@font-face {
    font-family: Thasadith;
    src: url(../fonts/Thasadith-Regular.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #282931;
    overflow: hidden;
}

.loading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes shadow {
    0% {
        filter: blur(10px);
        transform: scale(1);
    }

    50% {
        filter: blur(16px);
        transform: scale(1.5);
    }

    100% {
        filter: blue(10px);
        transform: scale(1);
    }
}

div #image{
    display: block;
    animation: float 3s ease-in-out infinite;
}

.shadow {
    width: 250px;
    height: 30px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    filter: blur(10px);
    animation: shadow 6s ease-in-out infinite;
}

.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 960px;
    margin-top: 2rem;
    position: relative;
}

.content-wrapper p{
    color: #e6e6e6;
    margin-top: 2rem;
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Thasadith', sans-serif;
}

.content-wrapper img{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 200px) and (max-width: 800px) {
    .content-wrapper p{margin: 20px 20px 0 20px;}
    #image img {width: 350px; height: auto;}
}

@media (min-width: 800px) and (max-width: 1000px) {
    .content-wrapper p{margin: 20px 20px 0 20px;}
}