@font-face {
    font-family: Thasadith;
    src: url(../fonts/Thasadith-Regular.ttf);
}

@font-face {
    font-family: CormorantGaramond;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{text-decoration: none; color: white;}
a:hover{color: yellow; transition: 0.8s all ease;}

body, html{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image : url(../img/yacht.jpg);
    overflow: hidden;
}

.content{
    height: 100vh;
    overflow: hidden;
}

.loading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes shadow {
    0% {
        filter: blur(10px);
        transform: scale(1);
    }

    50% {
        filter: blur(16px);
        transform: scale(1.5);
    }

    100% {
        filter: blue(10px);
        transform: scale(1);
    }
}

div #image{
    display: block;
    animation: float 3s ease-in-out infinite;
}

.shadow {
    width: 250px;
    height: 30px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    filter: blur(10px);
    animation: shadow 6s ease-in-out infinite;
}

.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 960px;
    /* margin-top: 2rem; */
    position: relative;
}

/* #parallax1{
    border-collapse: separate;
    border-spacing: 40px;
    margin: 0 -40px;
    min-width: 100%;
} */

/* .carte1{
    display: table-cell;
    width: 62.5%;
    background: #fff;
    
}

.carte2{
    background: #fff;
    display: table-cell;
    width: 33%;
    vertical-align: bottom;
} */

.content-wrapper p{
    color: black;
    /* margin-top: 2rem; */
    padding: 1.4rem;
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Thasadith', sans-serif;
    
}

.content img{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image img{
    width: 300px;
    height: auto;
}

.content #video{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

@media (min-width: 200px) and (max-width: 800px) {
    .content-wrapper p{margin: 20px 20px 0 20px;}
    #image img {width: 350px; height: auto;}
}

@media (min-width: 800px) and (max-width: 1000px) {
    .content-wrapper p{margin: 20px 20px 0 20px;}
}

@media only screen and (max-width: 1500px) {
    .content #video{height: auto;}
}
